@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


/* !--------------------typingtext-----------------------! */
h1{
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 2.5em; 
  color: #e9c487ce;
  font-family: cursive;
}


.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:#e9c487ce;
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
/* h1.cursor::after {
  height:24px;
  width:13px;
} */
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
/* #badgecomp{
  display: block;
} */

#badgemobile{
  display: none;
}
@media screen and (max-width: 1200px){
  #badgecomp{
    display: none;
  }
  #badgemobile{
    display: block;
  }
}



/* !--------------------teacher badge for desktop-----------------------! */
.teacherbadge {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url(/media/images/teacherbadge.png) no-repeat 50% 50%;
  background-size: 60%;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(251, 251, 251, 0.75);
}
.teacherbadge:hover {
  box-shadow: 0px 0.5rem 2rem rgba(255, 255, 255, 0.75);
  background-position: 0% 50%;
}
.teacherbadge:hover .text {
  -webkit-transform: rotate(-45deg) translate(0px) rotate(-315deg);
          transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(79, 77, 82, 0.5);
  width: 20rem;
  letter-spacing: 0.5rem;
  line-height: 20rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.teacherbadge .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  left: 50%;
  top: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 1rem;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rgb(57, 56, 59);
  -webkit-transform: rotate(-180deg) translate(-10rem) rotate(180deg);
          transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(246, 246, 246, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}


/* !--------------------student badge desktop-----------------------! */
.studentbadge {
    display: block;
    position: relative;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    background: url(/media/images/studentbadge.png) no-repeat 100% 50%;
    background-size: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 0.5rem 1rem rgba(241, 237, 237, 0.75);
  }
  .studentbadge:hover {
    box-shadow: 0px 0.5rem 2rem rgba(255, 255, 255, 0.75);
    background-position: 0% 50%;
  }
  .studentbadge:hover .text {
    -webkit-transform: rotate(-45deg) translate(0px) rotate(-315deg);
            transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(79, 77, 82, 0.5);
    width: 20rem;
    letter-spacing: 0.5rem;
    line-height: 20rem;
    height: 20rem;
    margin-top: -10rem;
    margin-left: -10rem;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
  }
  .studentbadge .text {
    display: block;
    position: absolute;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    left: 50%;
    top: 50%;
    margin-top: -5rem;
    margin-left: -5rem;
    font-size: 1rem;
    font-family: Raleway, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: rgb(57, 56, 59);
    -webkit-transform: rotate(-180deg) translate(-10rem) rotate(180deg);
            transform: rotate(-180deg) translate(-10rem) rotate(180deg);
    box-shadow: 0px 0.5rem 1rem rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }

/*-------------------teacher badge for mobile-------------*/



.teachbadgemobile
{
  display:table-cell;
  width:250px; height:250px;
  background-size:cover;
  overflow: hidden;
  position: relative;
}
.teachbadgemobile .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.teachbadgemobile:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.teachbadgemobile .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:60%;left:-80%;
  color:#ffffff;
  font-weight: 300;
  font-size: 17px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.teachbadgemobile:hover .deroul_titre
{
  background-color:#ecab41; left:0px;
  
}
.teachbadgemobile .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 5px;
  z-index: 1000;
  top:60%;right:-85%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 15px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.teachbadgemobile:hover .deroul_soustitre
{
  background-color:#e9c487ce;right:0px;
}

/*-------------------student badge for mobile----------------------*/

.studbadgemobile
{
  display:table-cell;
  width:250px; height:250px;
  background-size:cover;
  overflow: hidden;
  position: relative;
}
.studbadgemobile .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.studbadgemobile:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.studbadgemobile .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:60%;left:-80%;
  color:#ffffff;
  font-weight: 300;
  font-size: 17px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.studbadgemobile:hover .deroul_titre
{
  background-color:#ecab41; left:0px;
  
}
.studbadgemobile .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 5px;
  z-index: 1000;
  top:60%;right:-85%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 15px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.studbadgemobile:hover .deroul_soustitre
{
  background-color:#e9c487ce;right:0px;
}