{% extends 'Profile/basic.html' %}
{% block title %} Your Papers - edbud {% endblock  %}
{% block teachname %} {{teacherinfo.name}} {% endblock  %}

{% block body %}
<div class="container my-5">
    <h1 align='center' style="color: #ffffff;">Question Papers</h1>
    {% for ques in quesset %}
    
    <div class="card bg-transparent animate__animated animate__backInRight" id='allques'>
        <h3 style="text-align: center; color: rgb(238, 251, 54);" class="card-header">{{ques.pprname}} </h3>
        <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                <h5 class="card-title" style="color: rgb(151, 229, 229);"><b>{{ques.starttime}}</b></h5><br>
                <p class="card-text" style="color: rgb(151, 229, 229);"><b>{{ques.pprcode}}</b></p>
              </div>
              <div class="col-md-6">
                <h5 class="card-title" style="color: rgb(151, 229, 229);"><b>{{ques.endtime}}</b></h5><br>
                <p class="card-text" style="color: rgb(151, 229, 229);">Number of Questions:- <b>{{ques.noofques}}</b></p>
              </div>
          </div>
          <br>
          <div style="text-align:center;">
            <a href="/userprofile/question/{{ques.pprcode}}/" style="color: #ffffff" class="btn btn-outline-dark">See Answer submission</a>
          
            <form method='POST' action="/userprofile/deleteppr/{{ques.pprcode}}/">{% csrf_token %}
              <button type="submit" style="color: #ffffff" class="btn btn-outline-dark">Delete Paper</button>
            </form>
          
            <a href="/userprofile/quesviewer/{{ques.pprcode}}/" style="color: #ffffff" class="btn btn-outline-dark">View/edit Question paper</a>
            <a href=
            "whatsapp://send?text= Hope you all are doing well!%0a%0aThis is your PaperCode for your exam%0a%0a&quot;{{ques.pprcode}}&quot;%0a%0aExam Start at:-{{ques.starttime}}%0aExam End at{{ques.endtime}}%0a%0aGo to this link and enter the Papercode and your details%0aedbud.pythonanywhere.com/examport/%0a%0aBy :-{{ques.pprteach}}"
            data-action="share/whatsapp/share"
            target="_blank">
            <button class="btn btn-success">
            Share to whatsapp <img src="/media/exsite/images/whatsapp-64.png" style="height: 40px;">
            </button>
          </div>  
        </div>
      </div>
  
    {% endfor %}
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-10 col-md-6 mx-auto">
    <div class="clearfix">
      <a class="btn btn-dark float-left" href="{{prev}}">&larr; New Question Paper</a>
  
      <a class="btn btn-dark float-right" href="{{next}}">Old Question Paper &rarr;</a>
      
    </div>
  </div>
</div>
</div>

{% endblock %}