{% extends 'exsite/basic.html' %}
{% block title %}Forgot Password - edbud {% endblock %}

{% block head %}
<link href="/media/exsite/css/forgotpass.css" rel="stylesheet">
{% endblock  %}

{% block addnavitem %}
<li class="nav-item active">
    <a class="nav-link" href="/exsite/">Home <span class="sr-only"></span></a>
</li>

{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="card bg-transparent">
    <h1 class="card-header" style="color: #e9a932">Verify Your Account Details</h1>
  <form class="forgotpass" id="formforgotpass"  method="post">{% csrf_token %}
    <div class="card-body">
    <label for="inputname" class="sr-only">Enter Your Registered Email</label>
    <input type="email" id="inputEmail" class="form-control bg-transparent" name="email" placeholder="Enter Your Registered Email" required
      autofocus>
    <label for="inputPhone" class="sr-only my-4">Password</label>
    <input type="phone" id="phone" class="form-control bg-transparent" name="phone" placeholder="Enter Your registered Phone number"
      required>
    <button class="btn" type="submit">
        <i class='bx bx-send'></i>
        <span class="text">
          Send Message
        </span>
        <span class="loading-animate"></span>
    </button>
  </form>
  </div>
  </div>
</div>
{% endblock body %}

{% block js %}
<script>
  {% if notmatch %}
  alert('Your Details Did not match');
  {% endif %}
  
  document.querySelector('.btn').addEventListener('click', (evt) => {
  evt.target.classList.add('loading')

  setTimeout(() => {
    evt.target.classList.remove('loading')
  }, 3000);
})
</script>
{% endblock %}