{% extends 'ansside/basic.html' %}
{% block title %}Exam center - edbud{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 align='center'>{{student.studname}} Please Submit Your Pdf For Your Exam {{student.pprcode}}</h1>
    <form method="POST" class="my-5" id="pdfsubmit" enctype="multipart/form-data">{% csrf_token%}
        <h4 align="center">All Anwser To be Submitted through an Pdf</h4>
        <input type="file" name="anspdf" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
        <label for="file">Choose a file</label>
        <br>
        <button type="submit" class="btn btn-outline-dark" style="color: white;
            border-color: white;">Submit</button>
    </form>
</div>    
{% endblock %}
{% block js %}
<script>
    var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\'').pop();

		if( fileName )
			label.querySelector( 'span' ).innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});
</script>
{% endblock %}