{% extends 'ansside/basic.html' %}
{% block title %}Exam center - edbud{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 align='center'>{{student.studname}} Please Submit Your Pdf For Your Exam {{student.pprcode}}</h1>
    <form method="POST" class="my-5" id="pdfsubmit" enctype="multipart/form-data">{% csrf_token%}
        <h4 align="center">All Anwser To be Submitted through an Pdf</h4>
        <input type="file" name="anspdf" id="file" class="inputfile" >
        <label for="file">Choose a file</label>
        <br>
        <button type="submit" class="btn btn-outline-dark" style="color: white;
            border-color: white;">Submit</button>
    </form>
</div>    
{% endblock %}
{% block js %}
<script>
  $(document).ready(function() { 
            $('input[type="file"]').change(function(e) { 
                var geekss = e.target.files[0].name; 
                $("label").text(geekss); 
  
            }); 
        }); 
</script>
{% endblock %}