{% extends 'ansside/basic.html' %}
{% block title %}Result is submitted - edbud{% endblock %}
{% block body %}
<div class="container my-5">
    {% if mcq %}
    <h3 align="center" style="color: #b3abac;">You Obtain {{studinfo.result}} marks</h3>
    {% else %}
    <h3 align="center" style="color: #b3abac;">Congrats {{studinfo.studname}} Your Answers are Submitted!</h3>
    {% endif%}
    <div class="card mb-3 text-white bg-transparent my-5" style="max-width: 540px;
    padding: 10px;
    margin: auto;
    box-shadow: 0 4px 4px 4px rgb(0, 0, 0), 0 4px 10px 0 rgba(248, 246, 246, 0.959);">
        <div class="row no-gutters">
          <div class="col-md-4">
              <br><br><br>
            <img src="/media/ansside/images/reviewus.png" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Please write About Your Experience of using this portal</h5>
              <form method="POST" action="/examport/review/{{studinfo.pprcode}}/{{studinfo.studemail}}/">{% csrf_token %}
              <textarea rows="3" class="bg-transparent" placeholder="Please Enter Your Review" id="review" name="review" style="    margin-top: 0px; 
              margin-bottom: 0px;
              height: 185px;
              width: 300px;
              color:#fffbfc"></textarea>
              <br>
              <button class="btn btn-outline-dark" type="submit" style="color: white;
              border-color: white;">Submit</button>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}