{% extends 'layout.html' %}
{% block head %}
  <title>About Us - edbud</title>
{% endblock %}

{% block body %}
<div class="container my-5" >
  <div class="card mb-3" id="aboutedbud" style="background-color:#4e423796;  margin: 25px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/media/images/about.png" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body" >
          <h1 class="card-title" style="font-size:25px; color: #ecab41;">Hello world!</h1>
          <p style="color:#e9c487ce; font-size: 18px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">
      
            If you wanna know about about us then you are at the right place<br>
            With a lot of hardwork and years of thought process we came up with this idea,umm actually no!<br> 
            We did do a lot of hard-work but that's not how it happened. 
            <br>A decade ago people would do studies the old fashioned traditional way and a decade later all due to corona virus we are subjugated to online learning.
            Well we were due.<br>So to enhance this experience for the better we came up with an <br>effective way of <i>test taking process</i><br>
            <br><b>We at edbud, here at your doorstep step to help you provide a<br> better experience of learning to our future generation</b>  
            
            </p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="card mb-3" id="aboutdev" style="background-color:#4e423796;  margin: 25px">
    <div class="row no-gutters">
      
      <div class="col-md-8">
        <div class="card-body" >
          <h1 class="card-title" style="font-size:25px; color: #ecab41;">About the Developer</h1>
          <p style="color:#e9c487ce; font-size: 18px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">
      
            Hello everyone!<br>
            I m an enthusiastic person who's got a knack for coding.<br> 
            I always try something different and new. my playground is <br>
            computer and my tools are syntax.<br>
            I m actively interested in designing and marketing strategies<br> 
            I m an undergrad student persuing my degree  
            
            </p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/media/images/developer.png" class="card-img" style="margin: 10px;">
      </div>
    </div>
  </div>
    


</div>
{% endblock %}
