{% extends 'layout.html' %}
{% block head %}
<title>Edbud - Your Examination site</title>
<link rel="stylesheet" href="/media/css/edbudhome.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="animate__animated animate__fadeIn my-5" style="text-align: center;">
  <h1 style="color: #ecab41; font-family: cursive; font-size: 3.5em;">Welcome to edbud!</h1>
  <div class="output" id="output">
    <p style="color:#e9c487ce; font-size: 25px;"></p>
  </div>
</div>


<div class="container">
    <div class="row animate__animated animate__rollIn" id="badgecomp">
        
        <div class="col-md-4 card bg-transparent" style="margin: 50px; text-align: center; border-radius: 50%">
            <a href="/exsite/">
                    <div class='teacherbadge'>
                        <div class='text'>Teacher - Log in</div>
                    </div>
            </a>
        </div>
        
        <div class="col-md-4 card bg-transparent" style="margin: 50px; text-align: center; border-radius: 50%">
            
                <a href="/examport">
                    <div class='studentbadge'>
                        <div class='text'>Student - Give Exam</div>
                    </div>
                </a>
        </div>
            
    </div>

    <div class="row" id="badgemobile">
        <div class="col-md-6 animate__animated animate__rollIn" style="margin:40px">
          
            <div class="teachbadgemobile" style="background-image:url(/media/images/teacherbadge.png);">
              <div class="shadow_swhow_mini">
                <a href="/exsite/">
                  <div class="deroul_titre">Teacher</div>
                  <div class="deroul_soustitre">Log-in/Register</div>
                </a>
              </div>
            </div>

        </div>

        <div class="col-md-6 animate__animated animate__rollIn" style="margin:40px">
          
          <div class="studbadgemobile" style="background-image:url(/media/images/studentbadge.png);">
            <div class="shadow_swhow_mini">
              <a href="/examport">
                <div class="deroul_titre">Student</div>
                <div class="deroul_soustitre">Give Your Exam</div>
              </a>
            </div>
          </div>
          

      </div>
        
    </div>

</div>
{% endblock %}

{% block js %} 
  <script>
    // values to keep track of the number of letters typed, which quote to use. etc. Don't change these values.
var i = 0,
    a = 0,
    isBackspacing = false,
    isParagraph = false;

// Typerwrite text content. Use a pipe to indicate the start of the second line "|".  
var textArray = [
  "|Make, Schedule, and Manage your Paper!"

];

// Speed (in milliseconds) of typing.
var speedForward = 100, //Typing Speed
    speedWait = 1000, // Wait between typing and backspacing
    speedBetweenLines = 1000, //Wait between first and second lines
    speedBackspace = 25; //Backspace Speed

//Run the loop
typeWriter("output", textArray);

function typeWriter(id, ar) {
  var element = $("#" + id),
      aString = ar[a],
      eHeader = element.children("h1"), //Header element
      eParagraph = element.children("p"); //Subheader element
  
  // Determine if animation should be typing or backspacing
  if (!isBackspacing) {
    
    // If full string hasn't yet been typed out, continue typing
    if (i < aString.length) {
      
      // If character about to be typed is a pipe, switch to second line and continue.
      if (aString.charAt(i) == "|") {
        isParagraph = true;
        eHeader.removeClass("cursor");
        eParagraph.addClass("cursor");
        i++;
        setTimeout(function(){ typeWriter(id, ar); }, speedBetweenLines);
        
      // If character isn't a pipe, continue typing.
      } else {
        // Type header or subheader depending on whether pipe has been detected
        if (!isParagraph) {
          eHeader.text(eHeader.text() + aString.charAt(i));
        } else {
          eParagraph.text(eParagraph.text() + aString.charAt(i));
        }
        i++;
        setTimeout(function(){ typeWriter(id, ar); }, speedForward);
      }
      
    // If full string has been typed, switch to backspace mode.
    } else if (i == aString.length) {
      
      isBackspacing = true;
      setTimeout(function(){ typeWriter(id, ar); }, speedWait);
      
    }
    
  // If backspacing is enabled
  } else {
    
    // If either the header or the paragraph still has text, continue backspacing
    if (eHeader.text().length > 0 || eParagraph.text().length > 0) {
      
      // If paragraph still has text, continue erasing, otherwise switch to the header.
      if (eParagraph.text().length > 0) {
        eParagraph.text(eParagraph.text().substring(0, eParagraph.text().length - 1));
      } else if (eHeader.text().length > 0) {
        eParagraph.removeClass("cursor");
        eHeader.addClass("cursor");
        eHeader.text(eHeader.text().substring(0, eHeader.text().length - 1));
      }
      setTimeout(function(){ typeWriter(id, ar); }, speedBackspace);
    
    // If neither head or paragraph still has text, switch to next quote in array and start typing.
    } else { 
      
      isBackspacing = false;
      i = 0;
      isParagraph = false;
      a = (a + 1) % ar.length; //Moves to next position in array, always looping back to 0
      setTimeout(function(){ typeWriter(id, ar); }, 50);
      
    }
  }
}
Resources
  </script>
{% endblock %}